<div class="page-container">
  <div class="page-header">
  </div>
  <div class="page-content">
    <div class="page-content-text">
      <h1 style="font-size: 40px; color:black;font-weight: 500;">Contact Us</h1>
      <div class="seperator"></div>
      <p style="width: 50%;text-align: center;font-size: 15px;color: black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
    </div>
  </div>
</div>


