<div class="page-container">
  <div class="booking-summary">
    <div class="title">Your Reservation</div>
    <div class="summary">
      <mat-form-field appearance="outline">
        <mat-label>Check in Date</mat-label>
        <input autocomplete="off" (click)="picker1.open()" [formControl]="checkIn" matInput [matDatepicker]="picker1"
          [min]="nowDate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Check Out Date</mat-label>
        <input autocomplete="off" (click)="picker2.open()" [formControl]="checkOut" [disabled]="!checkIn.value" matInput
          [matDatepicker]="picker2" [min]="checkIn.value">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <button mat-stroked-button (click)="updateSelections()">Check Availiblity</button>
      <div class="title row space-between-center" *ngIf="carSlotsSelected.length">
        <div>Date</div>
        <div style="margin-left:6rem">Slots</div>
        <div>Remove</div>
      </div>
      <div class="row space-between-center" *ngFor="let slot of carSlotsSelected; let i = index">
        <div class="date">{{slot.date | date:"mediumDate"}}</div>
        <div class="selected">{{slot.selected}}</div>
        <button mat-icon-button (click)="removeSlot(i)">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
      </div>
    </div>
    <button mat-raised-button color="primary" class="proceed" [disabled]="!carSlotsSelected.length">
      Proceed further
      <mat-icon>chevron_right</mat-icon>
    </button>

  </div>
  <div class="container">
    <mat-tab-group class="stepper" [backgroundColor]="'#78b052'">
      <mat-tab label="1. Choose Date" disabled></mat-tab>
      <mat-tab label="2. Choose Slots" isActive="true">
        <div class="slot-box" *ngFor="let slot of slots; let i = index">
          <div class="date">
            {{slot?.date | date:"mediumDate"}}
          </div>
          <div class="slots">
            <div class="slot total">
              <div class="label">Total</div>
              <div class="number">{{slot.total || 10}}</div>
            </div>
            <div class="slot booked">
              <div class="label">Booked</div>
              <div class="number">{{slot.booked || 0}}</div>
            </div>
            <div class="slot available">
              <div class="label">Available</div>
              <div class="control">
                <button [disabled]="slot.total == (slot.booked + slot.available)" mat-icon-button
                  (click)="minusBooking(i)">
                  <mat-icon>remove</mat-icon>
                </button>
                <div class="number">{{slot.available}}</div>
                <button mat-icon-button [disabled]="slot.available == 0" (click)="addBooking(i)">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="3. Pay & Proceed">

      </mat-tab>
    </mat-tab-group>

  </div>
</div>

<div class="container">

</div>
