:host {
  display: flex;
  flex-direction: column;

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #78b052;
    //padding: 10px;

    @media screen and (max-width:960px) {
      width: 100%;
      padding: 0px;
      justify-content: space-between;
      .logo{
        height: 60px;
        padding-top: 10px;
      }
    }

    .toolbar-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .logo {
        height: 64px;
      }

      .menu {
        .menu-item {
          margin: 0 10px;
          cursor: pointer;
          transition: all ease-in-out 0.5s;
        }

        .menu-item:hover {
          color: #b1b1b1;
        }
      }

    }
  }

  .fixed {
    position: absolute;
    background-color: #78b052 !important;
    top: 0;
    z-index: 5;
    margin-top: 0.90%;
    align-content: center;
    color: #fff;
  }

  .sticky {
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 5;
  }
  .marquee {
    padding: 6px;
  }
  .control-toolbar {
    @extend .toolbar;
background: #3f3d3d;
    padding: 7px;


    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .menu-item {
        color: white;
        font-weight: 600;
        max-width: 200px;
        margin: 0 10px;
      }
    }
  }

}
