:host {
  display: flex;
  flex-direction: column;

  .toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #78b052;
    padding: 1rem;

    @media screen and (max-width:960px) {
      width: 100%;
      padding: 0rem;
      justify-content: space-between;
      .logo{
        height: 60px;
        padding-top: 10px;
      }
    }

    .toolbar-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .logo {
        height: 64px;
      }

      .menu {
        .menu-item {
          margin: 0 1rem;
          cursor: pointer;
          transition: all ease-in-out 0.5s;
        }

        .menu-item:hover {
          color: #b1b1b1;
        }
      }

    }
  }

  .fixed {
    position: absolute;
    background-color: #78b052 !important;
    top: 0;
    z-index: 5;
    margin-top: 0.90%;
    align-content: center;
    color: #fff;
  }

  .sticky {
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 5;
  }

  .control-toolbar {
    @extend .toolbar;
    background: black;
    padding: 0.2px;


    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .menu-item {
        color: #78b052;
        font-weight: 600;
        max-width: 20rem;
        margin: 0 1rem;
      }
    }
  }

}
