<div *ngIf="!ismobile">
  <div class="control-toolbar">
    <div class="menu">
      <div class="menu-item" style="max-width: 320px">3451 E Governer John Sevier Hwy, Knoxville, TN 37914</div>
      <div class="menu-item">+1800 Call PAN</div>
      <div class="menu-item">Open 24 hours</div>
      <div class="menu-item">ENG</div>
      <div class="menu-item">SignUp/Login</div>
    </div>
  </div>
    <div class="marquee">
      <div>TRAVEL ADVISORY: Our response to COVID-19</div>
    </div>
  <div #stick>
    <mat-toolbar [class]="'toolbar'" color="primary">
      <div class="toolbar-content">
        <img src="assets/images/logo.png" alt="" class="logo">
        <div class="menu">
          <span class="menu-item" [routerLink]="['']">HOME</span>
          <span class="menu-item" [routerLink]="['offers']">OFFERS & RATES</span>
          <span class="menu-item" [routerLink]="['booking']">RESERVATIONS</span>
        </div>
      </div>
    </mat-toolbar>

  </div>

</div>
<div *ngIf="ismobile">
  <div class="toolbar sticky">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span [routerLink]="['']">HOME</span>
      </button>
      <button mat-menu-item disabled>
        <span [routerLink]="['offers']">OFFERS & RATES</span>
      </button>
      <button mat-menu-item>
        <span [routerLink]="['booking']">RESERVATIONS</span>
      </button>
    </mat-menu>
    <img src="assets/images/logo.png" alt="" class="logo">
  </div>

</div>
