  <div class="container">
    <div>
      <h1>Payment Reciept</h1>
      <div class="row">
      <div class="w-150">Reservation Id</div>
      <div class="w-100">: id</div>
      </div>
      <div class="row">
      <div class="w-150">Per Day Charges</div>
      <div class="w-100">: $Charges</div>
      </div>
      <div class="row">
      <div class="w-150">Booked Days</div>
      <div class="w-100">: days</div>
      </div>
      <div class="row row-total">
      <div class="w-150 font-price">Total</div>
      <div class="w-100 font-price">: $Amount</div>
      </div>
    </div>
    <div style="margin-top: 1rem">
      <h1>Payment Information</h1>
      <form [formGroup]="ccForm"  class="column center-center payment-form">
        <mat-form-field appearance="outline">
          <mat-label>Card Number</mat-label>
          <input type="tel" formControlName="cardNumber" matInput placeholder="Card Number">
        <mat-error *ngIf="ccForm.get('cardNumber')?.hasError('required')">
          Card Number is required
        </mat-error>
        <mat-error *ngIf="ccForm.get('cardNumber')?.hasError('minlength')">
          Card Number should be atleast 16 digits
        </mat-error>
        <mat-error *ngIf="!ccForm.get('cardNumber')?.hasError('required') && !ccForm.get('cardNumber')?.hasError('minlength') && ccForm.get('cardNumber')?.hasError('ccNumber')">
          Card Number is invalid
        </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Name on card</mat-label>
          <input formControlName="cardName" matInput placeholder="Name on card">
          <mat-error *ngIf="ccForm.get('cardName')?.hasError('required')">
            Card holder name is required
          </mat-error>
        </mat-form-field>
        <div class="row space-between-center">
          <mat-form-field class="expiry" appearance="outline">
            <mat-label>Expiration Date</mat-label>
            <input formControlName="expiry" matInput placeholder="MM/YY">
            <mat-error *ngIf="ccForm.get('expiry')?.hasError('required')">
              Expiry date is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="cvv" appearance="outline">
            <mat-label>CVV</mat-label>
            <input type="tel" formControlName="cvv" matInput placeholder="CVV">
            <mat-error *ngIf="ccForm.get('cvv')?.hasError('required')">
              CVV number is required
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-stroked-button color="primary" class="pay-now-btn" [disabled]="isDisabled" (click)="submit()">Pay Now</button>
      </form>
  </div>
</div>
