:host{
  .container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    .w-150{
      width: 170px;
    }
    .w-100{
      width: 100px;
    }
    .row{
      margin-bottom: 10px;
      &.row-total{
        margin-top: 20px;
      }
    }
    .font-price{
      font-size: 20px;
      font-weight: 500;
    }
    .payment-reciept{
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
    .payment-form{

      text-align: center;
      mat-form-field{
        width: 100%;
      }
      .row{
        width: 100%;
        .expiry{
          max-width: 150px;
        }
        .cvv{
          max-width: 80px;
          margin-left: 10px;
        }
      }
      .pay-now-btn{
        width: 100%;
        color: #78b052;
      }
    }
  }

}

