  <form  class="column">
    <mat-form-field appearance="legacy">
      <mat-label>Card Number</mat-label>
      <input matInput placeholder="Card Number">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Name on card</mat-label>
      <input matInput placeholder="Name on card">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <div class="row">
      <mat-form-field appearance="legacy">
        <mat-label>Expiration Date</mat-label>
        <input matInput placeholder="MM/YY">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="legacy">
        <mat-label>CVV</mat-label>
        <input matInput placeholder="CVV">
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
    <button mat-stroked-button color="primary">Pay Now</button>
  </form>
