:host {
  .container {
    background: #78b052;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .link-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1024px;

      @media screen and (max-width:960px) {

        .image {
          max-width: 100%;
        }

        .center {
          margin: 10px !important;
        }

        .link-container {
          min-width: 120px;
        }


      }

      .link-container {
        display: flex;
        flex-direction: column;
        color: white;
        margin: 10px 0;

        .links {
          .social-img {
            height: 38px;
            margin-bottom: 10px;
          }

          .logos {
            margin-left: -20px;
            height: 20px;

            .logo-img {
              height: 28px;
              margin: 0 5px;
            }
          }


          .link {
            margin: 5px 0;
          }
        }

        .title {
          font-size: 16px;
          font-weight: 500;
          height: 30px;
        }
      }
    }

  }

  .reference-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 100%;

    @media screen and (max-width:960px) {
      justify-content: center;

      .image {
        //max-width: 250px;
        max-width: 100%;
      }

    }

    .logos {
      display: flex;
      align-items: center;

    }

    .image {
      //height: auto !important;
      height: 140px;
    }

    img {
      height: 20px;
      margin: 0 5px;
      //max-width: 500px;
    }
  }

  .copy-rights {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
  }
}
