<div class="container">
  <div class="link-wrapper">
    <div class="link-container center">
      <div class="title">ABOUT US</div>
      <div class="links">
        <img class="social-img" src="assets/images/social-links.png">
        <div class="logos">
          <img class="logo-img" src="assets/images/app.webp">
          <img class="logo-img" src="assets/images/iso.png">
        </div>
      </div>
    </div>
    <div class="link-container">
      <div class="title">COMPANY</div>
      <div class="links">
        <div class="link">About Pan</div>
        <div class="link">Referral Program Info</div>
        <div class="link">Contact Management</div>
        <div class="link">Texting Agreement Information</div>
        <div class="link">Privacy and Cookie Statement Info</div>
      </div>
    </div>
    <div class="link-container">
      <div class="title">Site Map</div>
      <div class="links">
        <div class="link">Do Not Sell Statement</div>
        <div class="link">AdChoices Statement</div>
        <div class="link">Terms of Use</div>
        <div class="link">Personal Data Request</div>
        <div class="link">Site Usage</div>
      </div>
    </div>
    <div class="link-container">
      <div class="title">NEED HELP</div>
      <div class="links">
        <div class="link">info@parkallnight.com</div>
        <div class="link">+1800 CALL PAN</div>
        <div class="link">Contact Us</div>
      </div>
    </div>
  </div>
  <div class="reference-container">
    <img class="image" src="assets/images/panreference1.png">

  </div>
</div>
<div class="copy-rights">
  Copyright © All rights reserved | Developed by Logochemist
</div>
