/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.center-center {
  align-items: center;
  justify-content: center;
}

.start-center {
  display: flex;
  align-items: center;
}

.center-start {
  justify-content: center;
}

.space-between-center {
  justify-content: space-between;
  align-items: center;
}
